Repository evolonix/starter, changes with the labels that .github/labeler.yml gives for each.
All labels: root, ci, documentation, apps, libs, web, ui, feature

.github/labeler.yml:

# Single quotes are required for leading asterisks

# Changes to files in the root folder
root:
  - changed-files:
      - any-glob-to-any-file: '*'

# Changes to files in the .github/workflows folder
ci:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

# Changes within 'docs' folder and subfolders, or markdown files
documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**
      - any-glob-to-any-file: '**/*.md'

# Changes to files in the apps folder
apps:
  - changed-files:
      - any-glob-to-any-file: apps/**

# Changes to files in the libs folder
libs:
  - changed-files:
      - any-glob-to-any-file: libs/**

# PR is opened against the main branch
release:
  - base-branch: 'main'

# Changes to files in any web folder
web:
  - changed-files:
      - any-glob-to-any-file: '**/web/**'

# Changes to files in any ui folder
ui:
  - changed-files:
      - any-glob-to-any-file: '**/ui/**'

# Changes to files in any feature folder
feature:
  - changed-files:
      - any-glob-to-any-file: '**/feature*/**'

ci(repo): install deps for staging and production
  .github/workflows/production.yml
  .github/workflows/staging.yml
  README_TEMPLATE.md
Labels: root, ci, documentation

ci(repo): move fly api token [skip ci]
  .github/workflows/production.yml
  .github/workflows/staging.yml
Labels: ci

ci(repo): add reference to fly configs [skip ci]
  .github/workflows/preview.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
  github/workflows/production.yml
  github/workflows/staging.yml
Labels: ci

feat(web): update Dockerfiles to run npm start
  apps/web/Dockerfile.production
  apps/web/Dockerfile.staging
Labels: apps, web

feat(web): deploy prisma during release to fly.io
  .github/workflows/preview.yml
  apps/web/Dockerfile.preview
  apps/web/Dockerfile.production
  apps/web/Dockerfile.staging
  apps/web/package.json
  github/workflows/preview.yml
Labels: ci, apps, web

feat(web): deploy prisma during release to fly.io
  .env.example
  .github/workflows/preview.cleanup.yml
  .github/workflows/preview.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
  README_TEMPLATE.md
  apps/web/.dockerignore
  apps/web/Dockerfile.preview
  apps/web/Dockerfile.production
  apps/web/Dockerfile.staging
  apps/web/app/routes/_auth/webauthn/utils.server.ts
  apps/web/app/routes/users/user.$id.avatar.tsx
  apps/web/app/utils/storage.server.ts
  apps/web/docker-entrypoint.js
  apps/web/docker-entrypoint.preview.js
  apps/web/fly.preview.toml
  apps/web/fly.production.toml
  apps/web/fly.staging.toml
  apps/web/litefs.yml
  apps/web/litestream.yml
  apps/web/package.json
  docs/built-with/FLAGSMITH.md
  docs/built-with/GOOGLE_ANALYTICS.md
  github/workflows/preview.yml
  libs/data/prisma/migrations/20250804185157_init/migration.sql
  libs/data/prisma/seed.ts
  package-lock.json
  package.json
  prod.sql
Labels: root, ci, documentation, apps, libs, web

feat(web): deploy prisma during release to fly.io
  .env.example
  .github/workflows/preview.cleanup.yml
  .github/workflows/preview.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
  README_TEMPLATE.md
  apps/web/.dockerignore
  apps/web/Dockerfile.preview
  apps/web/Dockerfile.production
  apps/web/Dockerfile.staging
  apps/web/app/routes/_auth/webauthn/utils.server.ts
  apps/web/app/routes/users/user.$id.avatar.tsx
  apps/web/app/utils/storage.server.ts
  apps/web/docker-entrypoint.js
  apps/web/docker-entrypoint.preview.js
  apps/web/fly.preview.toml
  apps/web/fly.production.toml
  apps/web/fly.staging.toml
  apps/web/litefs.yml
  apps/web/litestream.yml
  apps/web/package.json
  docs/built-with/FLAGSMITH.md
  docs/built-with/GOOGLE_ANALYTICS.md
  github/workflows/preview.yml
  libs/data/prisma/migrations/20250804185157_init/migration.sql
  libs/data/prisma/seed.ts
  package-lock.json
  package.json
  prod.sql
Labels: root, ci, documentation, apps, libs, web

feat(web): update deployments and other configs
  .github/workflows/preview.cleanup.yml
  .github/workflows/preview.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
  apps/web/docker-entrypoint.preview.js
  apps/web/fly.preview.toml
  apps/web/fly.production.toml
  apps/web/fly.staging.toml
  apps/web/package.json
  github/workflows/preview.cleanup.yml
  github/workflows/preview.yml
  github/workflows/production.yml
  github/workflows/staging.yml
  libs/data/package.json
Labels: ci, apps, libs, web

ci(repo): create data volume from config
  .github/workflows/preview.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
  README_TEMPLATE.md
  github/workflows/preview.yml
  github/workflows/production.yml
  github/workflows/staging.yml
Labels: root, ci, documentation

ci(repo): test out not creating the volume manually [skip ci]
  .github/workflows/preview.cleanup.yml
  .github/workflows/staging.yml
  github/workflows/preview.cleanup.yml
Labels: ci

ci(repo): remove manually creation of volumes [skip ci]
  .github/workflows/preview.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
  github/workflows/preview.yml
  github/workflows/production.yml
  github/workflows/staging.yml
Labels: ci

ci(repo): remove staging for starter deployments
  .github/workflows/production.yml
  .github/workflows/staging.yml
Labels: ci

chore(repo): miscellaneous updates
  apps/web/Dockerfile
  apps/web/package.json
  customize-ci.js
  customize.js
  libs/data/package.json
  libs/data/prisma/schema.prisma
  package-lock.json
  package.json
  scripts/setup.sh
Labels: root, apps, libs, web

feat(web): redirect new user back to selected user on cancel
  apps/web/app/routes/admin/users/user.new.tsx
  apps/web/app/routes/admin/users/users.tsx
  apps/web/app/routes/profile/profile.tsx
Labels: apps, web

fix(web): update staging to production references
  apps/web/Dockerfile.production
Labels: apps, web

fix(web): update dependent target
  apps/web/package.json
Labels: apps, web

feat(web): finish implementing users
  apps/web/app/app.tsx
  apps/web/app/components/admin.indicator.tsx
  apps/web/app/components/impersonating.banner.tsx
  apps/web/app/components/navbar.tsx
  apps/web/app/components/profile-dropdown-menu.tsx
  apps/web/app/components/sidebar.tsx
  apps/web/app/components/user.card.tsx
  apps/web/app/root.tsx
  apps/web/app/routes.tsx
  apps/web/app/routes/_auth/impersonate.tsx
  apps/web/app/routes/admin/admin.tsx
  apps/web/app/routes/admin/users/user.$id.edit.tsx
  apps/web/app/routes/admin/users/user.$id.new.tsx
  apps/web/app/routes/admin/users/user.$id.tsx
  apps/web/app/routes/admin/users/user.list.tsx
  apps/web/app/routes/admin/users/user.new.tsx
  apps/web/app/routes/admin/users/users.tsx
  apps/web/app/routes/developer/cdk/cdk.tsx
  apps/web/app/routes/developer/cdk/grid-layout.tsx
  apps/web/app/routes/developer/developer.tsx
  apps/web/app/routes/profile/profile.edit.tsx
  apps/web/app/routes/profile/profile.tsx
  apps/web/app/routes/users/user.$id.tsx
  apps/web/app/routes/users/users.tsx
  apps/web/app/utils/auth.server.ts
  apps/web/app/utils/misc.ts
  apps/web/app/utils/permissions.server.ts
  apps/web/tsconfig.app.json
  apps/web/tsconfig.json
  libs/data/src/index.ts
  libs/data/src/lib/models.ts
  libs/manage-list/feature/src/lib/details.tsx
  libs/ui/src/lib/catalyst/sidebar-layout.tsx
  libs/ui/src/lib/catalyst/sidebar.tsx
  libs/ui/src/lib/catalyst/text.tsx
  libs/ui/src/lib/image.tsx
  libs/ui/src/lib/index.ts
  tsconfig.base.json
Labels: root, apps, libs, web, ui, feature
